/* style.css */
html {
    scroll-behavior: smooth;
}

main {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  height: 50px;
  width: 50px;
}

.navbar {
  display: flex;
  background-color: #777777;
  padding: 15px 25px 15px 25px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00ff7b;
}

.hero-section{
  text-align: center;
  padding: 100px 20px;
  background-color: #2c3e50;
  color: white;
}

.hero-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.projects-section {
  text-align: center;
  font-size: 25px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
  background-color: #f4f4f4;
}

.card img {
  display: inline;
  width: 100%;
  height: auto;
}

.calculators {
  display: inline !important;
  width: 50% !important;
}

.project {
  padding: 10px;
  margin: 0;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #777777;
  color: white;
  margin-top: 40px;
}

.legal-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;       /* remove default ul margin */
  padding: 0;      /* remove default ul padding that causes offset */
}

.legal-links li {
  margin: 0;
  display: inline-block;
}

.legal-links a {
  color: lightblue;
}